.container-list
  = form_for [@user, @list] do |form|
    .field
      = form.label "Название"
      = form.text_field :name, maxlength: 30
    .actions
      = form.submit "Создать", class: "btn btn-primary center"

