.container-devise
  %h3 Регистрация
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email, content_tag(:span , "", class: ["fa", "fa-at"]).html_safe, id: "icon"
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email"
    .field
      = f.label :username, content_tag(:span , "", class: ["fa", "fa-user"]).html_safe, id: "icon"
      = f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "имя"
    .mt-5
      - if @minimum_password_length
        %small.text-danger
          Пароль:
          (Минимум #{@minimum_password_length} символов)
      .field
        = f.label :password, content_tag(:span , "", class: ["fa", "fa-lock"]).html_safe, id: "icon"
        = f.password_field :password, autocomplete: "new-password", placeholder: "пароль"
      .field
        = f.label :password_confirmation, content_tag(:span , "", class: ["fa", "fa-lock"]).html_safe, id: "icon"
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "подтвердите пароль"
    .actions
      = f.submit "Регистрация", class: "btn btn-primary"
  = render "devise/shared/links"
