.container-devise
  %h3 Change your password
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.hidden_field :reset_password_token
    .field
      - if @minimum_password_length
        Password:
          (#{@minimum_password_length} characters minimum)
        %br/
      = f.label :password, content_tag(:span , "", class: ["fa", "fa-lock"]).html_safe, id: "icon"
      = f.password_field :password, autofocus: true, autocomplete: "new-password"
    .field
      = f.label :password_confirmation, content_tag(:span , "", class: ["fa", "fa-lock"]).html_safe, id: "icon"
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "Change my password"
  = render "devise/shared/links"
