/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  height: 100%;
  display: grid;
  grid-template-rows: 81.2px auto 400px;
  /*background: #c96567;*/
  /*background: #9d5a63;
  /*background: #644e5b;*/
  background-color: #f3f3f5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #283350;
}

a{
  color: #283350;
}
a:hover{
  color: #5c75b5;
}

h1, h2, h3, h4, h5{
  color: #283350;
}
main{
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 40px !important;
}
footer{
  background-color: #283350;
}


.btn-primary, .btn-primary a{
  background-color: #283350 !important;
  background-repeat: no-repeat !important;
  border: none !important;
}

.btn-primary:hover{
  background-color: #5c75b5 !important;
  background-repeat: no-repeat !important;
  border: none !important;
}

.btn-red{
  background: #ea3c48 !important;
  border: none !important;
  color: white !important;
}

.btn-red:hover{
  background-color: #5c75b5 !important;
  background-repeat: no-repeat !important;
  border: none !important;
}

.title-with-form{
  display: flex;
  justify-content: space-between;
}
