/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@font-face{
  font-family: "Akrobat";
  src: url('/assets/Akrobat');
}
@font-face{
  font-family: "Akrobat Black";
  src: url('/assets/Akrobat-Black');
}
@font-face{
  font-family: "Akrobat Bold";
  src: url('/assets/Akrobat-Bold');
}
@font-face{
  font-family: "Akrobat ExtraBold";
  src: url('/assets/Akrobat-ExtraBold');
}
@font-face{
  font-family: "Akrobat ExtraLight";
  src: url('/assets/Akrobat-ExtraLight');
}
@font-face{
  font-family: "Akrobat Light";
  src: url('/assets/Akrobat-Light');
}
@font-face{
  font-family: "Akrobat Regular";
  src: url('/assets/Akrobat-Regular');
}
@font-face{
  font-family: "Akrobat SemiBold";
  src: url('/assets/Akrobat-SemiBold');
}
@font-face{
  font-family: "Akrobat Thin";
  src: url('/assets/Akrobat-Thin');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
