.users-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.user-line{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 36px;
  align-items: center;
}
.follow-btn{
  width: 120px;
  margin-right: 5px;
}
.block-with-btn{
  margin-left: auto;
}

.scroll-block{
  height: 600px;
  overflow-y: scroll;
}
.picture{
  position: absolute;
  left: -100px;
  bottom: -80px;
}

/*devise*/
.container-devise{

}
.container-devise h3{
  margin-bottom: 20px;
}
.container-devise .field, .actions{
  margin-bottom: 10px;
}
.container-devise .field #icon{
  width: 26px;
  margin-right: 5px;
  font-size: 16pt;
  text-align: center;
}